doctype html
html(lang="ja")
    head
        meta(charset="utf-8")
        link(rel="stylesheet" type="text/css" href="assets/css/style.css")
        title BlackBracken
    body
        //- particles
        #particles
        script(src="assets/js/particles.min.js")
        script(type="text/javascript") particlesJS.load("particles", "./assets/particles.json");