doctype html
html(lang="ja")
    head
        meta(charset="utf-8")
        link(rel="stylesheet" type="text/css" href="assets/css/style.css")
        link(rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon_32.png")
        title BlackBracken
    body
        img.icon-profile(src="assets/images/profile_icon.png")

        //- particles
        #particles
        script(src="assets/js/particles.min.js")
        script(type="text/javascript") particlesJS.load("particles", "./assets/particles.json");