doctype html
html(lang="ja")
    head
        meta(charset="utf-8")
        link(rel="stylesheet" type="text/css" href="assets/css/style.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro:500")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/solid.css" integrity="sha384-r/k8YTFqmlOaqRkZuSiE9trsrDXkh07mRaoGBMoDcmA58OHILZPsk29i2BsFng1B" crossorigin="anonymous")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/brands.css" integrity="sha384-BKw0P+CQz9xmby+uplDwp82Py8x1xtYPK3ORn/ZSoe6Dk3ETP59WCDnX+fI1XCKK" crossorigin="anonymous")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/fontawesome.css" integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous")
        link(rel="stylesheet" type="text/css" href="assets/css/tingle.min.css")
        link(rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon_32.png")
        title bracken.black
        script(src="https://unpkg.com/ityped@1.0.3")
        script(src="assets/js/particles.min.js")
        script(src="assets/js/tingle.min.js")
    body
        img.icon-profile(src="assets/images/profile_icon.png")

        .profile
            .name BlackBracken
            #description

        .title Links
        .button-container
            .button#github-button
                i.fab.fa-github
                font  GitHub
            .button#twitter-button
                i.fab.fa-twitter
                font  Twitter
            .button#blog-button
                i.fas.fa-blog
                font  HatenaBlog
            .button#mail-button
                i.fas.fa-envelope
                font  Mail

        //- particles
        #particles

        //- scripts
        script(src="assets/js/description.js")
        script(src="assets/js/button.js")
        script(type="text/javascript") particlesJS.load("particles", "./assets/particles.json");