body {
  font-family: "Source Code Pro", "Hiragino Kaku Gothic ProN", "Yu Gothic", YuGothic, Meiryo, sans-serif;
}

.icon-profile {
  display: block;
  border-radius: 50%;
  margin: 80px auto;
  border: 8px solid rgba(0, 0, 0, 0.15);
  opacity: 0.98;
}

.profile {
  width: 100%;
  height: 8rem;
  margin: auto;
  background: rgba(217, 217, 217, 0.65);
}

.name {
  font-size: 4rem;
  text-align: center;
}

#description {
  font-size: 2rem;
  text-align: center;
}

#particles {
  background: #d6d6d6;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}