@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.main {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  row-gap: 16px;

  @media screen and (min-width: 1200px) {
    margin-top: 20%;
    margin-bottom: 20%;
    width: 45%;
  }
}

.title {
  font-size: 8vw;
  font-weight: 600;

  @media screen and (min-width: 800px) {
    font-size: 6vw;
  }
}

.date {
  font-family: 'Roboto Mono', monospace;
  display: inline;
}

.link {
  text-decoration: none;
}

.listItem {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  vertical-align: middle;
}